@charset "utf-8";

body {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

.red {
  color: red;
}

#video {
  width:100%;
  max-height:40%;
}

#clip-play {
  overflow: hidden;
  text-align: center;
}
#clip-play div {
  width:32%;
  float: left;
  margin:10px 2% 0 0;
}
#clip-play div:last-child {
  margin:10px 0 0;
}
#clip-play div .capture-output {
  width:100%;
  margin:0 auto 5px;
  overflow:hidden;
  min-height:15%;
}
#clip-play div canvas {
  margin:0 auto;
  max-height:90%;
}

#clip-play button {
  font-size:110%;
}

#clip-record {
  clear:both;
  margin:30px 0 0;
  text-align:center;
}
#clip-record button {
  width:200px;
  height:70px;
  font-size:120%;
}
